.container
  display: flex
  background-color: #fff
  padding: 10px
  flex-wrap: wrap
  align-items: center

.justify-center
  justify-content: center

.direction-column
  flex-direction: column

.reponsive
  margin: 0 auto
  width: auto
  max-width: 768px

  @media screen and (min-width: 769px)
    border-radius: 4px