@import 'css/variables'
  
.select
  outline: none
  height: 36px
  width: 100%
  padding-top: 5px 
  padding-bottom: 5px 
  font-size: $font-size-2
  padding-left: 10px
  background-color: rgba(255, 255, 255, 0.3)
  border: 0
  border-bottom: 2px solid $color-blue-secondary
  border-radius: 0
